/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font: 16px "Source Sans Pro","Open Sans","Helvetica Neue",sans-serif;
  -webkit-font-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #08a; }
a:hover   { color: #08a; }
a:visited { color: #08a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 35em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  overflow: hidden;
  text-align: center;
}

.site .footer .heading {
  font-style: italic;
}

.site .footer .company {
  width: 12em;
  display: inline-block;
  text-align: left;
}

.site .footer .person {
  width: 12em;
  display: inline-block;
  text-align: right;
}

.site .footer p {
  margin: 0pt;
}

