<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
     
                {{ content }}

            <div class="footer">
              <p>Applied Duality Inc.</p>
              <ul>
                <li>Erik Meijer, Founder</li>
              </ul>
              <p>Netflix Inc.</p>
              <ul>
                <li>Ben Christensen</li>
                <li>George Campbell</li>
              </ul>
              <p>Oracle Inc.</p>
              <ul>
                <li>Gavin Bierman, Consulting member of Technical staff</li>
              </ul>
              <p>Pivotal Software Inc.</p>
              <ul>
                <li>Jon Brisbin, Software Engineer</li>
                <li>Stephane Maldini,  Enterprise Architect</li>
              </ul>
              <p>Red Hat Inc.</p>
              <ul>
                <li>Tim Fox, Senior Principal Software Engineer</li>
                <li>Norman Maurer, Principal Software Engineer</li>
              </ul>
              <p>spray.io</p>
              <ul>
                <li>Mathias Doenitz</li>
                <li>Johannes Rudolph</li>
              </ul>
              <p>SUNY Oswego</p>
              <ul>
                <li>Doug Lea, Professor</li>
              </ul>
              <p>Twitter Inc.</p>
              <ul>
                <li>Marius Eriksen</li>
              </ul>
              <p>Typesafe Inc.</p>
              <ul>
                <li>Bj&ouml;rn Antonsson, Software Engineer</li>
                <li>Viktor Klang, Chief Architect</li>
                <li>Dr. Roland Kuhn, Akka Tech Lead</li>
                <li>Patrik Nordwall, Software Engineer</li>
                <li>Endre Varga, Software Engineer</li>
              </ul>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
