<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
     
                {{ content }}

            <div class="footer">
              <p class="heading">These are the people who have contributed to this project so far:</p>
              <p><span class="person">Bj&ouml;rn Antonsson</span> &ndash; <span class="company">Typesafe Inc.</span></p>
              <p><span class="person">Gavin Bierman</span> &ndash; <span class="company">Oracle Inc.</span></p>
              <p><span class="person">Jon Brisbin</span> &ndash; <span class="company">Pivotal Software Inc.</span></p>
              <p><span class="person">George Campbell</span> &ndash; <span class="company">Netflix, Inc</span></p>
              <p><span class="person">Ben Christensen</span> &ndash; <span class="company">Netflix, Inc</span></p>
              <p><span class="person">Mathias Doenitz</span> &ndash; <span class="company">spray.io</span></p>
              <p><span class="person">Marius Eriksen</span> &ndash; <span class="company">Twitter Inc.</span></p>
              <p><span class="person">Tim Fox</span> &ndash; <span class="company">Red Hat Inc.</span></p>
              <p><span class="person">Viktor Klang</span> &ndash; <span class="company">Typesafe Inc.</span></p>
              <p><span class="person">Dr. Roland Kuhn</span> &ndash; <span class="company">Typesafe Inc.</span></p>
              <p><span class="person">Doug Lea</span> &ndash; <span class="company">SUNY Oswego</span></p>
              <p><span class="person">Stephane Maldini</span> &ndash; <span class="company">Pivotal Software Inc.</span></p>
              <p><span class="person">Norman Maurer</span> &ndash; <span class="company">Red Hat Inc.</span></p>
              <p><span class="person">Erik Meijer</span> &ndash; <span class="company">Applied Duality Inc.</span></p>
              <p><span class="person">Todd Montgomery</span> &ndash; <span class="company">Kaazing Corp.</span></p>
              <p><span class="person">Patrik Nordwall</span> &ndash; <span class="company">Typesafe Inc.</span></p>
              <p><span class="person">Johannes Rudolph</span> &ndash; <span class="company">spray.io</span></p>
              <p><span class="person">Endre Varga</span> &ndash; <span class="company">Typesafe Inc.</span></p>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
